.modal-top-10{
	padding-top: 100px;
}
.modal-top-20{
	padding-top: 150px;
}
.border-none{
	border: none;
}
.radius-2{
	border-radius: .2em;
}
.list-sm{
	padding-top: .3em;
	padding-bottom: .3em;
	padding-left: 1em;
	padding-right: .5em;
}
.list-flat{
	border-radius: 0px;
}
.a{
	color: #fff;
}
.slide-image-show{
	height: 122px;
	border-radius: 0.3em;
}
.slide-image-show img{
	width: 100%;
	height: 100%;
}