body
{
	font-family:Montserrat-Bold;
}

.head h1
{
	font-size:50px;
	color: #0066ff;
}



.nav li
{
width: 105px;
background: white;
border-bottom: none;
}
.slide
{
	background: black;
}
.caption a
{
	font-weight: bold;

}
.row h1
{
	color: #0066cc;
}

.caption a:hover
{
	text-decoration: none;

}
.caption button
{
	width: 250px;
}
.navbar-inverse
{
	background: #0066cc;
}
.navbar-inverse h3 
{
	color: white;
}
.navbar-inverse h4 
{
	color: white;
}

.inputs 
{
	height: 30px;
}
.register
{
	background: #0066cc;
	color: white;

}
.click
{
	
	border-bottom: none;
}
p span
{
	color: red;
	font-weight: bold;
}
td p
{
	font-family: italic;
}
.dropdme

{ 
    border: none;
    cursor: pointer;
}
.dropd {
    position: relative;
    display: inline-block;
}
.footer{
	border: none;
}
.dropdcont{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdcont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdcont li {
    color: black;
    
    text-decoration: none;
    display: block;
}
.dropdcont a:hover {background-color: #f1f1f1;text-decoration: none;}
.dropdcont ul:hover {background-color: #f1f1f1;text-decoration: none;}
.dropd:hover .dropdcont {
    display: block;
}

footer .icon{
	font-weight: 500;
	font-size: 4em;
	color: #fff;

}
@media only screen and (max-width: 768px){
	footer .icon-holder{
		margin-left: 3em;
	}	
}
.logo-img{
	background-color: transparent;
	height: 90px;
	width: 140px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 2em;
}